<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <section *ngIf="normalSongs.length > 0 || instrumentalSongs.length > 0 || backgroundVocalsSongs.length > 0 || otherSongs.length > 0">
      <ion-item-divider>
        <ion-label>
          Downloaded Songs
        </ion-label>
      </ion-item-divider>
      <ion-radio-group [(ngModel)]="selectedSong">
        <ion-item-sliding *ngFor="let song of normalSongs; let index = index">
          <ion-item (click)="selectSong(normalSongs, index)">
            <ion-label>{{ song.title }}</ion-label>
            <ion-radio slot="start" [value]="song"></ion-radio>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeSong(normalSongs, index)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-radio-group>
      <!-- Instrumental Songs -->
      <ion-item-divider *ngIf="instrumentalSongs.length > 0">
        <ion-label>
          Instrumental
        </ion-label>
      </ion-item-divider>
      <ion-radio-group [(ngModel)]="selectedSong">
        <ion-item-sliding *ngFor="let song of instrumentalSongs; let index = index">
          <ion-item (click)="selectSong(instrumentalSongs, index)">
            <ion-label>{{ song.title }}</ion-label>
            <ion-radio slot="start" [value]="song"></ion-radio>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeSong(instrumentalSongs, index)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-radio-group>
      <!-- Instrumental with Background Vocals -->
      <ion-item-divider *ngIf="backgroundVocalsSongs.length > 0">
        <ion-label>
          Instrumental with Background Vocals
        </ion-label>
      </ion-item-divider>
      <ion-radio-group [(ngModel)]="selectedSong">
        <ion-item-sliding *ngFor="let song of backgroundVocalsSongs; let index = index">
          <ion-item (click)="selectSong(backgroundVocalsSongs, index)">
            <ion-label>{{ song.title }}</ion-label>
            <ion-radio slot="start" [value]="song"></ion-radio>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeSong(backgroundVocalsSongs, index)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-radio-group>
      <!-- Other -->
      <ion-item-divider *ngIf="otherSongs.length > 0">
        <ion-label>
          Other
        </ion-label>
      </ion-item-divider>
      <ion-radio-group [(ngModel)]="selectedSong">
        <ion-item-sliding *ngFor="let song of otherSongs; let index = index">
          <ion-item (click)="selectSong(otherSongs, index)">
            <ion-label>{{ song.title }}</ion-label>
            <ion-radio slot="start" [value]="song"></ion-radio>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeSong(otherSongs, index)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-radio-group>
    </section>
    <section *ngIf="songsToDownload.length > 0">
      <ion-item-divider>
        <ion-label>
          Available to Download
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let song of songsToDownload; let index = index" (click)="downloadSong(song, index)">
        <ion-label>{{ song.title }}</ion-label>
        <div class="get">Get</div>
      </ion-item>
    </section>
  </ion-list>
</ion-content>
